<!DOCTYPE html>

<head>
    <title>HTML and CSS "Hello World"</title>
    <style>
        body {
            background-color: #2D2D2D;
        }

        h1 {
            color: #C26356;
            font-size: 30px;
            font-family: Menlo, Monaco, fixed-width;
        }

        p {
            color: white;
            font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
        }
    </style>
</head>

<body>
    <h1>Congratulations!</h1>
    <p>You have succesfully hosted a static website using a private GCS bucket using Cloud CDN's private origin
        authentication.</p>
    <p>This page was created using HTML and CSS and contains one PNG image.</p>
    <p>Terraform + CLI</p>
    <p><img src="image.png" alt="Star"></p>
</body>

</html>